<div class="jumbotron text-center mb-3">
  <h1>Categories</h1>

  <h5>
    <span id="category_counter">
      <%= Category.count %>
    </span>
    categories available
  </h5>
</div>

<div class="container text-center">
  <div id="new_category" class="mb-3">
    <%= render partial: "admin/categories/form", locals: { category: Category.new } %>
  </div>

  <div id="categories">
    <%= render @categories %>
  </div>
</div>
