<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'IMDb', root_path, class: "navbar-brand" %>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>
